<nav class="nav-banner">
  <a class="nav-btn" href="/">HOME</a>
  <a class="nav-btn" href="/users">USERS</a>
  <% if logged_in? %>
    <%= link_to current_user.name, "/users/#{current_user.id}", class: "nav-btn" %>
    <%= link_to 'LOG OUT', '/logout', method: :delete, class: "nav-btn" %>
  <% end %>
  
  <span class="nav-sessions">
  </span>
</nav>